
* {margin:0; padding:0;}


div#menu {
	position: fixed;
	top: 25px;
	left: 35px;
	width: 184px;
	background: url(images/menu/menu_top.png) top no-repeat;
	padding-top: 2px;
	z-index: 99;
}


.menuicon {
	margin-right: 9px;
	margin-bottom: -5px;
}


div#menubody {
	background: url(images/menu/menu_body.png) repeat-y;
}


div#menubottom {
	height: 6px;
	background: url(images/menu/menu_bottom.png) bottom no-repeat;
}


ul#menulist {
	width: 177px;
	margin-left: 1px;
	list-style-type: none;
}


ul#menulist li {
	height: 19px;
}


ul#menulist a {
	width: 173px;
	height: 17px;
	font-family: "Trebuchet MS", Arial, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #01072A;
	text-decoration: none;
	padding: 1px 0 1px 4px;
	display: block !important;
	display: inline-block;
}


ul#menulist a:hover {
	color: white;
	background: url(images/menu/menu_hover.png) left repeat-y;
}
